apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: processor-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: processor
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  # KEDA would be used here for Kafka Lag scaling in a real scenario
  # - type: External
  #   external:
  #     metric:
  #       name: kafka_consumer_lag
  #     target:
  #       type: Value
  #       value: 1000
